body {
	background-image:url('lightpaperfibers/lightpaperfibers.png');
	font-family: 'Ovo', serif;
    overflow-x:hidden;
}

.intro {
	margin: auto;
	width: 80%;
	text-align: center;
	vertical-align: middle;
}

.projectIcon {
	position: relative;	
	width: 25%;
	cursor: pointer;
	float: left;
	padding-bottom: 25px;
	padding-left: 25px;
	border-radius: 3px;
	color: rgba(0,0,0, .8);
}